

<section>
    <div class="container-fluid sect-A">
        <div class="row">
            <div class="col-md-12 col-A">
                <h2 class="heading-color" id="about">Weather App</h2>
                <form action="/results" method="post">
                    <div class="form-group">
                        <label for="entercity">Enter a City</label></br>
                        <input type="text" class="form-control" id="" aria-describedby="" placeholder="City" required name="city">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
